.fullPage{
    min-height: 100vh;
    background-color: rgb(217, 85, 80);
    color: white;
}

.interiorContainer{
    width: 50vw;
}

@media screen and (max-width: 748px){
    .interiorContainer{
        width: 95vw;
    }
}
