/* .navSize{ */
    /* width: 50vw; */
/* } */

/* @media screen and (max-width: 748px){ */
    /* .navSize{ */
        /* width: 95vw; */
    /* } */
/* } */

.navImagesSize{
    width: 20px;
    height: 20px;
}

.navBtn{
    background-color: rgb(217, 85, 80);
}